= simple_form_for @course do |f|

  = f.input :title
  = f.input :description
  = f.input :released, as: :date, start_year: 2003, end_year: Date.today.year, user_month_numbers: true
  = f.input :duration, hint: "e.g. 3h 23m"

  .input
    = f.label :company_id,  "Company"
    = f.collection_select :company_id, Company.all, :id, :name

  = f.submit
